// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body{
	padding: 50px;
}

h1{font-size: 50px;font-weight: 700;margin: 0px 0px 20px 0px;}
h2{font-size: 30px;margin: 0px 0px 50px 0px;}
h3{font-size: 20px;margin: 0px 0px 20px 0px;}
